/* Recipe styling */
body {
	text-align: center;
	font-family: 'Gill Sans', sans-serif;
	font-size: 25px;
}

#titulo {
	text-align: center;
	background-color: rgb(95, 211, 224);
	color: white;
	font-size: 40px;
}

h1 {
	background-color: rgb(237, 111, 44);
	color: white;
}

h2 {
	background-color: rgb(185, 241, 255);
	color: white;
}

